body {
    margin: 0px;
    overflow: hidden;
}

nav {
  display: flex;
  background-color: rgb(44, 129, 255);
  color: white;
  width: 100%;
  height: 200px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.text {
 position: absolute;
 font-size: xx-large;
 z-index: 90;
}

#page1 {
    width: 100%;
    height: 90vh;
}

#page2 {

    width: 100%;
    height: 100vh;
}

#page3 {

    width: 100%;
    height: 100vh;
}

#page4 {

    width: 100%;
    height: 100vh;
}

.page {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.page.active {
  transform: translateY(0%);
}

.page.next {
  transform: translateY(100%);
}

.page.previous {
  transform: translateY(-100%);
}
